[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=Oregon
L=Portland
O=rifkegribenes.io
OU=rifkegribenes
emailAddress=rifkegribenes@gmail.com
CN = localhost