/* MEDIA QUERIES */
.pointer {
  cursor: pointer; }

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none; }

.form {
  font-family: "Titillium Web", sans-serif;
  flex-direction: column; }
  .form__link-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .form__body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    background: #fffed1;
    box-shadow: 0px 0px 5px 0px rgba(75, 108, 183, 0.4); }
    @media (min-width: 600px) {
      .form__body {
        width: 60%;
        max-width: 600px; } }
  .form__header {
    color: #182848;
    font-weight: 100;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 0px 20px 10px 20px; }
    @media (min-width: 600px) {
      .form__header {
        font-size: 45px; } }
  .form__connection-header {
    color: #182848;
    font-weight: 100;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    padding: 30px 0 0 0; }
    @media (min-width: 600px) {
      .form__connection-header {
        font-size: 29px; } }
    @media (min-width: 901px) {
      .form__connection-header {
        font-size: 45px; } }
  .form__btn--search {
    color: #182848;
    padding-top: 40px; }
  .form__label--checkbox {
    font-family: "Titillium Web", sans-serif;
    color: #2B2B2B; }
  .form__icon--search {
    color: #182848;
    font-size: 1.5em; }
  .form__input-group {
    width: 100%;
    text-align: left;
    padding: 0;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    position: relative; }
  .form__input {
    width: 100%;
    border-radius: 4px;
    margin: 5px auto;
    border: 1px solid #d6d6d6;
    padding: 12px;
    font-size: .9em;
    font-weight: 100;
    color: #545454;
    background: white !important; }
    @media (min-width: 1600px) {
      .form__input {
        padding: 15px;
        font-size: 1.2em; } }
    .form__input__search-container {
      position: relative; }
    .form__input--search {
      padding: 8px;
      font-size: .8em; }
      @media (min-width: 901px) {
        .form__input--search {
          padding: 12px;
          font-size: .9em; } }
      @media (min-width: 1600px) {
        .form__input--search {
          padding: 12px;
          font-size: 1em; } }
    .form__input--select {
      -webkit-appearance: button;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-user-select: none;
      background: white url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") no-repeat;
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .form__input--select-grid {
      -webkit-appearance: button;
      -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      -webkit-user-select: none;
      background: white url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png") no-repeat;
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 8px !important;
      font-size: .8em !important; }
      @media (min-width: 1600px) {
        .form__input--select-grid {
          padding: 12px !important;
          font-size: 1em !important; } }
    .form__input--option {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 4px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 20px;
      transition: all 0.15s ease-out 0s;
      border: 2px solid rgba(255, 255, 255, 0.9);
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 10; }
      .form__input--option:hover {
        background: #6f8ac6; }
      .form__input--option:checked {
        background: transparent; }
        .form__input--option:checked::before {
          height: 12px;
          width: 12px;
          position: absolute;
          top: 2px;
          left: 2px;
          content: '';
          display: inline-block;
          border-radius: 100%;
          background-color: #182848; }
          .form__input--option:checked::before:focus {
            border-radius: 50%;
            outline: 2px solid #fcc511 !important; }
        .form__input--option:checked ::after {
          background: #40e0d0;
          content: '';
          display: block;
          position: relative;
          z-index: 100; }
    .form__input--checkbox {
      font-size: 2em;
      margin-right: 5px; }
      .form__input--checkbox:checked::before {
        height: 26px;
        width: 26px;
        position: absolute;
        top: -12px;
        left: 3;
        content: '';
        display: inline-block;
        border-radius: 100%;
        background: url(../../img/checkmark.svg) no-repeat;
        background-position-x: 0;
        background-position-y: 0;
        opacity: .6; }
    .form__input--radio-group {
      padding: 10px 0; }
    .form__input--radio {
      margin: 0 5px 0 0;
      padding: 1px;
      border-radius: 50%; }
      .form__input--radio ::after {
        border-radius: 50%; }
      .form__input--radio:focus {
        border-radius: 50%;
        box-shadow: 0 0 10px #fcc511 !important; }
    .form__input--radio-label {
      font-family: "Titillium Web", sans-serif;
      color: #545454;
      padding: 0 15px 0 0; }
      @media (min-width: 1600px) {
        .form__input--radio-label {
          font-size: 1.2em; } }
    .form__input--radio-wrap {
      display: inline-block;
      font-family: "Titillium Web", sans-serif; }
    .form__input--textarea {
      overflow-y: visible; }
  .form__input-grid {
    width: 100%;
    border-radius: 4px;
    margin: 5px auto;
    border: 1px solid #d6d6d6;
    padding: 8px !important;
    font-size: .8em !important;
    font-weight: 100;
    color: #545454; }
    @media (min-width: 1600px) {
      .form__input-grid {
        padding: 12px !important;
        font-size: 1em !important; } }
  .form__connection-input {
    padding: 12px; }
  .form__label {
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 6px; }
    @media (min-width: 1600px) {
      .form__label {
        font-size: 1em; } }
  .form__label--white {
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-top: 10px;
    position: relative;
    top: 6px;
    color: #182848;
    font-weight: 300;
    letter-spacing: 2px; }
    @media (min-width: 1600px) {
      .form__label--white {
        font-size: 1.2em; } }
  .form__error {
    font-family: "Titillium Web", sans-serif;
    color: #a94442;
    background-color: #f2dede;
    font-size: 1.2em;
    font-weight: 300;
    margin: 15px auto;
    border: 1px solid #a94442;
    padding: 7px;
    border-radius: 4px;
    transition: opacity .15s linear;
    text-align: center; }
  .form__button-wrap {
    width: 100%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media (min-width: 600px) {
      .form__button-wrap {
        flex-wrap: nowrap; } }
  .form__button {
    color: #fffdb7;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: #182848; }
    .form__button:last-child {
      margin-right: 0; }
    @media (min-width: 600px) {
      .form__button {
        font-size: 20px;
        font-weight: 400; } }
    .form__button:hover, .form__button:active, .form__button:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      background-color: #3b5694;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
      transition: all 300ms ease-in-out; }
  .form__hidden {
    display: none; }
  .form__login-link {
    cursor: pointer;
    color: #545454;
    text-decoration: none;
    background-color: transparent;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: .8em;
    margin: 5px auto;
    border-bottom: 1px dotted transparent;
    text-align: center; }
    @media (min-width: 600px) {
      .form__login-link {
        font-weight: 400; } }
    .form__login-link:hover, .form__login-link:active {
      color: #3b5694;
      border-bottom: 1px dotted #3b5694;
      transition: all 300ms ease-in-out; }

::-webkit-input-placeholder {
  color: #545454;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

::-moz-placeholder {
  color: #545454;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:-ms-input-placeholder {
  color: #545454;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:-moz-placeholder {
  color: #545454;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out; }

.header {
  padding: 20px; }

.h-nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  z-index: 5;
  width: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-start;
  height: 30px;
  list-style: none; }
  .h-nav__side {
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 20px; }
  .h-nav__side-bkg {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    min-height: 60px; }
  .h-nav__side-bkg-noscroll {
    background: #182848;
    background: -webkit-linear-gradient(to top, #4b6cb7, #182848);
    background: linear-gradient(to top, #4b6cb7, #182848);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  .h-nav__icon {
    height: 14px;
    width: 16px;
    left: 36px;
    top: 23px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    border: 0;
    background: transparent;
    color: transparent; }
    @media (min-width: 650px) {
      .h-nav__icon {
        display: none; } }
    .h-nav__icon:focus {
      outline-width: 0px; }
  .h-nav__bar {
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 300ms ease-in-out; }
    .h-nav__bar--top {
      top: 0; }
    .h-nav__bar--top-active {
      transform-origin: bottom left;
      transform: rotate(45deg); }
    .h-nav__bar--mid {
      top: 50%;
      transform: translateY(-50%); }
    .h-nav__bar--mid-active {
      opacity: 0; }
    .h-nav__bar--bot {
      bottom: 0; }
    .h-nav__bar--bot-active {
      transform-origin: top left;
      transform: rotate(-45deg); }
  .h-nav__avatar {
    display: none; }
    @media (min-width: 650px) {
      .h-nav__avatar {
        display: block;
        position: absolute;
        right: 22px;
        top: 11px;
        z-index: 30; } }
  .h-nav__inbox {
    display: block;
    position: absolute;
    right: 40px;
    top: 12px;
    z-index: 30;
    font-size: 1.5em !important;
    color: #fffdb7 !important;
    z-index: 51; }
    @media (min-width: 650px) {
      .h-nav__inbox {
        right: 85px;
        top: 15px; } }
    .h-nav__inbox--active {
      background-color: transparent !important;
      color: #fffdb7 !important; }
    .h-nav__inbox--icon {
      position: relative; }
    .h-nav__inbox--badge {
      font-family: "Titillium Web", sans-serif;
      font-weight: 700;
      background-color: #a94442;
      border-radius: 100%;
      color: #fffdb7;
      padding: 2px 3px;
      font-size: 10px;
      position: absolute;
      top: 0;
      right: 0; }
  .h-nav__image-aspect {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 10px; }
  .h-nav__image-crop {
    width: 100%;
    border-radius: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer; }
  .h-nav__image {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0 auto; }
  .h-nav__item {
    padding: 10px 0;
    width: 100%; }
    .h-nav__item:hover, .h-nav__item:focus {
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 300ms ease-in-out; }
  .h-nav__item-menu {
    margin: 13px 0 0 20px;
    width: 110px;
    border-radius: 40px;
    padding: 3px 10px 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6) !important;
    cursor: pointer; }
    .h-nav__item-menu:hover, .h-nav__item-menu:focus {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 300ms ease-in-out; }
    .h-nav__item-menu--open {
      margin: 13px 0 0 20px;
      width: 40px;
      border-radius: 40px;
      padding: 3px 10px 5px 10px;
      cursor: pointer; }
  .h-nav__menuspan {
    color: #fffdb7;
    width: 56px; }
    .h-nav__menuspan--open {
      color: rgba(255, 255, 255, 0);
      width: 56px; }
  .h-nav__item-link {
    color: #fffdb7;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100vw;
    padding: 20px;
    margin-left: 13px; }
    @media (min-width: 600px) {
      .h-nav__item-link {
        font-weight: 400;
        font-size: 24px; } }
    @media (min-width: 650px) {
      .h-nav__item-link--login {
        position: absolute;
        right: 30px;
        top: 20px; } }
    .h-nav__item-link:hover, .h-nav__item-link:focus {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
    @media (min-width: 650px) {
      .h-nav__item-link--logout {
        display: none; } }
    .h-nav__item-link--menu {
      color: #fffdb7;
      font-family: "Titillium Web", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      padding: 0 0 0 30px; }
      .h-nav__item-link--menu-open {
        color: #fffdb7;
        font-family: "Titillium Web", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        padding: 0 0 0 30px; }
  .h-nav__nav {
    position: relative;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    height: 0;
    padding-bottom: 10px .h-nav__nav --side;
      padding-bottom-opacity: 1;
      padding-bottom-pointer-events: auto;
      padding-bottom-transition: opacity 300ms ease-in;
      padding-bottom-margin-top: -40px;
      padding-bottom-padding: 60px 0 27px 0; }
    .h-nav__nav--hidden {
      opacity: 0; }
  @media (min-width: 650px) {
    .h-nav {
      position: relative;
      top: 0;
      left: 0;
      padding: 10px;
      margin: 0;
      z-index: 5;
      width: 100vw;
      font-weight: 300;
      letter-spacing: 2px;
      display: flex;
      justify-content: flex-start;
      height: 30px;
      list-style: none; }
      .h-nav__item-menu {
        display: none; }
      .h-nav__side-bkg {
        position: fixed;
        width: 100vw;
        z-index: 1000;
        height: 60px; }
      .h-nav__side-bkg-noscroll {
        background: -webkit-linear-gradient(to bottom, #182848, #1B75BC);
        background: linear-gradient(to bottom, #182848, #1B75BC);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
      .h-nav__nav {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        pointer-events: auto;
        background: transparent; }
      .h-nav__item {
        padding: 10px;
        width: auto;
        border: 1px solid transparent; }
        .h-nav__item:hover, .h-nav__item:focus {
          border: 1px solid transparent;
          box-shadow: none; }
      .h-nav__item-link {
        color: #fffdb7;
        font-family: "Titillium Web", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 5px;
        font-size: 13px;
        text-decoration: none;
        border-radius: 25px;
        border: 1px solid transparent;
        padding: 5px 10px;
        font-size: 16px;
        width: auto;
        margin-left: 0; }
        .h-nav__item-link--login {
          border: 1px solid rgba(255, 255, 255, 0.6); }
        .h-nav__item-link:hover, .h-nav__item-link:focus {
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          transition: box-shadow 300ms ease-in-out; } }

.a-nav {
  padding-bottom: 20px; }
  .a-nav__item {
    padding: 10px 0;
    width: 100%; }
    .a-nav__item:hover, .a-nav__item:focus {
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transition: box-shadow 300ms ease-in-out; }
  .a-nav__item-link {
    color: #fffdb7;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid transparent;
    width: 100vw;
    padding: 20px;
    margin-left: 13px; }
  @media (min-width: 600px) {
    .a-nav {
      font-weight: 400;
      font-size: 24px; } }
  .a-nav:hover, .a-nav:focus {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }
  @media (min-width: 650px) {
    .a-nav__expanded {
      background: -webkit-linear-gradient(to bottom, #182848, #1B75BC);
      background: linear-gradient(to bottom, #182848, #1B75BC);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
      border: 1px solid rgba(255, 255, 255, 0.2);
      list-style-type: none;
      position: relative;
      top: 30px;
      margin-right: 10px; }
      .a-nav__expanded::after {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        right: 35px;
        width: 10px;
        height: 10px;
        background: #182848;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    .a-nav__wrap {
      display: flex;
      justify-content: flex-end;
      max-width: 100vw; }
    .a-nav__close {
      color: rgba(255, 255, 255, 0.6) !important;
      top: 60px !important;
      right: 20px !important; }
    .a-nav__item {
      height: 0;
      opacity: 0;
      padding: 0;
      color: transparent !important;
      margin: 0 10px;
      overflow: hidden;
      transition: all 400ms ease-out; }
      .a-nav__item--expanded {
        transition: height 400ms ease-in, opacity 800ms ease-in;
        height: 41px;
        opacity: 1;
        width: auto;
        border: 1px solid transparent;
        margin: 3px 10px;
        font-weight: 300;
        letter-spacing: 2px; }
        .a-nav__item--expanded:first-child {
          margin-top: 14px; }
      .a-nav__item:hover, .a-nav__item:focus {
        border: 1px solid transparent;
        box-shadow: none; }
    .a-nav__item-link {
      font-family: "Titillium Web", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 5px;
      font-size: 13px;
      text-decoration: none;
      border-radius: 25px;
      border: 1px solid transparent;
      padding: 5px 10px;
      font-size: 16px;
      width: auto;
      margin-left: 0;
      color: transparent;
      transition: color 400ms ease-out; }
      .a-nav__item-link--expanded {
        color: #fffdb7;
        transition: color 400ms ease-in; }
        .a-nav__item-link--expanded--login {
          border: 1px solid rgba(255, 255, 255, 0.6); }
        .a-nav__item-link--expanded:hover, .a-nav__item-link--expanded:focus {
          border: 1px solid rgba(255, 255, 255, 0.6);
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          transition: box-shadow 300ms ease-in-out; } }

.spinner {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .spinner__hide {
    display: none; }
  .spinner__show {
    display: block; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0; }

/* a subtle focus style for keyboard-input elements */
input[type="text"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0.2em #4b6cb7, 0 0 0.5em #fcc511 !important; }

/* no focus style for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none; }

/* and for keyboard users, override everything with
   a border when focused on any element */
body.user-is-tabbing *:focus {
  box-shadow: inset 0 0 0.2em #4b6cb7, 0 0 1em #fcc511 !important; }

/* fake focus class for elements like labels of custom-styled buttons that hide html inputs */
.fake-focus {
  box-shadow: inset 0 0 0.2em #4b6cb7, 0 0 1em #fcc511 !important; }

.app {
  background: #fffdb7;
  /* fallback for old browsers */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #545454; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main {
  height: 100%;
  min-height: 100vh; }

.title {
  color: #fffdb7;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
  font-weight: 100;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.aria-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-weight: inherit;
  cursor: pointer; }
  .aria-button:hover, .aria-button:active, .aria-button:focus {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer; }
  .aria-button__link {
    border-bottom: 1px solid transparent;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .aria-button__link:hover, .aria-button__link:active {
      border-bottom: 1px dotted #545454;
      cursor: pointer; }

.error {
  font-family: "Titillium Web", sans-serif;
  color: #a94442;
  background-color: #f2dede;
  font-size: 1.2em;
  font-weight: 300;
  margin: 15px auto;
  border: 1px solid #a94442;
  padding: 7px;
  border-radius: 3px;
  transition: opacity .15s linear;
  text-align: center; }

input:focus:invalid {
  border: 1px solid red; }

.success {
  font-family: "Titillium Web", sans-serif;
  color: #3c763d;
  background-color: #dff0d8;
  font-size: 1.2em;
  font-weight: 300;
  margin: 15px auto;
  border: 1px solid #3c763d;
  padding: 7px;
  border-radius: 3px;
  transition: opacity .15s linear;
  text-align: center; }

.unstyled-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.hidden {
  display: none !important; }

.visible {
  display: block !important; }

.character-count {
  text-align: right;
  font-family: "Titillium Web", sans-serif;
  color: #545454; }

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }
  .skip:active, .skip:focus, .skip:hover {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 7px 10px;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    background: #182848;
    z-index: 100;
    border: 1px solid white;
    color: #fffdb7;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em; }
    .skip:active i, .skip:focus i, .skip:hover i {
      font-size: .8em; }

/*# sourceMappingURL=index.css.map */
