.splash {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  min-height: 100vh;

  &__image {
      width: 100%;
      max-width: 1170px;
      height: 100%;
      margin-top: -2vw;
      padding-top: 100%;
      min-height: 100%;
      background: url(/img/splash.svg) no-repeat top center;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;

    @include for-tablet-landscape-up {
      margin-top: -80px;
    }
  }

  &__logo-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 137px);
    position: relative;
  }

  &__logo {
      display: block;
      width: 100%;
      max-width: 600px;
      margin: -40px auto 20px auto;
      z-index: -1;

    @include mobile-nav-breakpoint {
      display: none;
    }
  }

  &__icon {
    width: 100%;
    max-width: 600px;
    margin: -20px auto 0 auto;
    z-index: -1;
  }

  &__headline {
    text-align: center;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    font-size: 24px;
    color: $color_grape;
    font-weight: 200;
    z-index: 3;
    background: white;
    padding: 10px;
    // position: relative;
    margin: -40vw 0 15vw 0;


    @include for-phone-landscape-up {
      font-size: 42px;
    }

    @include for-tablet-landscape-up {
      font-size: 50px;
      margin: -250px 0 100px 0;
    }

  }

  &__caret {
    margin: 1em 0;
    border-right: .05em solid $color_mango;
    animation: caret 1s steps(1) infinite;
    max-height: 2em;
   }

   &__button-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    @include for-short-viewports-only {
      bottom: 60px;
    }

    @include for-tablet-landscape-up {
      position: relative;
      bottom: auto;
      left: auto;
      margin-top: 7vh;
    }
   }
  }



@keyframes caret {
  50% {
    border-color: transparent;
  }
}